# Virtual environments
.venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore model outputs or large files
uploads/

# Ignore static files if they are generated
static/

# Ignore private files
.ipynb
.py
*.json

# Ignore private files & credentials
*.json  
!config.json  
harvesta-24-25j-250-firebase-adminsdk.json  